body
{
    margin: 0;
}
.box
{
    position: relative;
    display: inline-block;
}
.navbar 
{
    position:absolute;
    z-index: 999;
    margin:0;
    top: 0%;
    background-color: gray;
    width: 100%;
}
.navbar a
{
    color:white;
    text-decoration: none;
}