body, html
{
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}
.horizontal
{
    display: flex;
    flex-direction: row;
}
.fit 
{
    height: 100%;
    width: 100%;
}
.hide
{
    display: none;
}
.center 
{
    text-align: center;
}